<a href="https://colab.research.google.com/github/giualciati/PythonSenai/blob/main/01_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello, World!")

hello, World!

In [ ]:
print("Giulia Alciati")

Giulia Alciati

Algorítmo lanche

passo 1: Prepare os ingredientes

passo 2: Pegue a embalagem do pão, abra e retire duas fatias

passo 3: posicione as fatias lado a lado

passo 4: Pegue um tomate e corte-o em rodelas

passo 5: Coloque as rodelas do tomate sobre uma das fatias de pão

passo 6: Pegue uma fatia de queijo e uma fatia de presunto

passo 7: Coloque-as sobre as rodelas de tomate

passo 8: Pegue uma folha de alface

passo 9: Coloque-a sobre as fatias de queijo e presunto

passo 10: Pegue a fatia de pão vazia e coloque sobre a folha de alface

exercício abstração lógica - cafeteria

Componente 1: Base elétrica para esquentar a água e manter a temperatura do café

Componente 2: Reservatório de água

Componente 3: Copo para o café

Componente 4: "Cano" que envia a água já aquecida para o filtro

Componente 5: Filtro para o pó de café

Componente 6: Sistema de liga/desliga para ativar a cafeteira e esquentar a água

exercício de lógica

Passo 1: Adicionar todo o líquido do barril C no barril A
Passo 2: Adicionar 1 litro do barril B no barril A

In [ ]:
#Desafio troca de variáveis

a = 5
b = 2
c = 0

c = a
a = b
b = c

print(a)
print(b)

2
5

In [ ]:
#Desafio troca de variáveis (simultânea)

a = 5
b = 2
c = 0

a, b = b, a

print(a)
print(b)

In [ ]:
# Atribuição em uma linha

nome, idade, sexo = 'Giulia', 20, 'F'

print('Nome:', nome)
print('Idade:', idade)
print('Sexo:', sexo)

Nome: Giulia
Idade: 20
Sexo: F

In [ ]:
# Atribuição em uma linha

nome = 'Giulia'
idade = 20
sexo = 'F'
altura = 1.70
casado = False

print('Nome:', nome)
print('Idade:', idade)
print('Sexo:', sexo)
print('Altura:', altura, 'm')
print('casado:', casado)

Nome: Giulia
Idade: 20
Sexo: F
Altura: 1.7 m
casado: False

In [ ]:

# sistema para calcular média

nota1 = float(input("Digite a nota 1: "))
nota2 = float(input("Digite a nota 2: "))
media = (nota1 + nota2)/2

if media >= 5:
  print("Parabéns! Você foi aprovado e sua média é: ", media)
else media <5:
  print("Reprovado! Sua média é: ", media)

Digite a nota 1: 10
Digite a nota 2: 8
Parabéns! Você foi aprovado e sua média é:  9.0

In [ ]:
# Operadores aritméticos


a = 10
b = 3


print(a +  b)     # 13      (adição)
print(a -  b)     # 7       (subtração)
print(a *  b)     # 30      (multiplicação)
print(a /  b)     # 3.3333  (divisão)
print(a // b)     # 3       (divisão inteira)
print(a %  b)     # 1       (módulo/resto da divisão)
print(a ** b)     # 1000    (exponenciação)
print(a ** (1/b)) # 2.14    (radiciação)

13
7
30
3.3333333333333335
3
1
1000
2.154434690031884

In [ ]:
# Operadores relacionais ou de comparação


a = 10
b = 3


print(a == b)  # False  Igual
print(a != b)  # True   Diferente
print(a >  b)  # True   Maior
print(a <  b)  # False  Menor
print(a >= b)  # True   Maior ou igual
print(a <= b)  # False  Menor ou igual

False
True
True
False
True
False

In [ ]:
# Operadores lógicos


a = True
b = False


print(a and b)  # False
print(a or b)   # True
print(not a)    # False

In [ ]:
# Operadores de atribuição


a = 10
a += 2  # a = a + 2
print(a) # 12


b = 10
b -= 2  # b = b - 2
print(b) # 8


c = 10
c *= c  # c = c * c
print(c) # 100


d = 10
d /= 2 # d = d / 2
print(d) # 5.0


d = 10
d **= 2 # d = d ** 2
print(d) # 100


d = 10
d //= 2
print(d)


d = 10
d %= 2
print(d) # 5.0

12
8
100
5.0
100
5
0

In [ ]:
# EXPRESSÕES
"""
1) PARÊNTESES
2) POTÊNCIA E RAIZ
3) MULTIPLICAÇÃO E DIVISÃO
4) ADIÇÃO E SUBTRAÇÃO
"""
print(2+2*5**2)
print((2+2)*5**2)
print(((2+2)*5)**2)

52
100
400

In [ ]:
# REFATORAÇÃO DE CÓDIGO


# ORIGINAL
a = 10
b = 20
c = a+b
print('Original', c)


# REFATORADO
def soma(x, y):
    return x+y


print('Refatorado', soma(45, 48))

Original 30
Refatorado 93