<a href="https://colab.research.google.com/github/giualciati/PythonSenai/blob/main/02_Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de dados e formatação de texto

In [ ]:
# TIPOS NUMÉRICOS (int | float)


x = 10
y = -1
z = -5.29
PI = 3.1415


print(x)
print(y)
print(z)
print(PI)

10
-1
-5.29
3.1415

In [ ]:
# TIPO CARACTER | STRINGS (str)


nome = 'Giulia'
escola = "SENAI Ary Torres"


print(nome)
print(escola)


print()
print(escola)
print('\n', escola)
print('\n', escola[10])

Giulia
SENAI Ary Torres

SENAI Ary Torres

 SENAI Ary Torres

 T

In [ ]:
# TIPOS LÓGICOS (bool)

continuar = True
parar = False


print(continuar)
print(parar)

True
False

In [ ]:
# IDENTIFICAR TIPOS DE VARIÁVEIS/CONSTANTES


print(type(x))
print(type(PI))
print(type(nome))
print(type(casado))

In [ ]:
# DECLARAÇÃO DE VARIÁVEIS


texto1 = '2'
texto2 = str(2)
numero1 = 3
numero2 = int(3)
decimal1 = float(3)
decimal2 = 3.0
logico = bool(False)


print(texto1)
print(texto2)
print(numero1)
print(numero2)
print(decimal1)
print(decimal2)
print(logico)

In [ ]:
# ANÁLISE DE STRINGS (str)


n = 'T'


print(n.isnumeric())   # Númérico
print(n.isalpha())     # Alfabético
print(n.isalnum())     # Alfanumérico
print(n.isupper())     # Maiúscula
print(n.islower())     # Minúscula
print(n.istitle())     # Primeira maiúscula
print(n.isdecimal())   # Numérico
print(n.isspace())     # Espaço

In [2]:
# exemplo

num = input("Digite um número inteiro: ")
if num.isnumeric():
    num = int(num)
    print("É um número!")
else:
    print("Não é número!")

print(type(num))

Digite um número inteiro: 10
É um número!
<class 'int'>

In [3]:
# ENTRADA DE DADOS (input)


numeroInteiro = int(input("Digite um número inteiro: "))
print(numeroInteiro)


numeroDecimal = float(input("\nDigite um número decimal: ")) # Sepador de decimal: . (não vírgula)
print(numeroDecimal)


valorLogico = bool(input("\nDigite algo: "))
print(valorLogico)


# Não há necessidade declarar str() para o input()
texto = str(input("\nDigite um valor alfanumérico:\n"))
print(texto)

Digite um número inteiro: 2
2

Digite um número decimal: 1.5
1.5
Digite algo: gygug
True

Digite um valor alfanumérico:
4
4

In [9]:
# CONSTANTES


PI = 3.1415
GRAVIDADE = 9.81

print("\nValor de PI:", PI, '\n\n\n')
print(10*'\n')
print("\nValor da gravidade:", GRAVIDADE)

Valor de PI: 3.1415















Valor da gravidade: 9.81

In [10]:
# CORES
"""
\033[ESTILO;FONTE;FUNDOm TEXTO \033[0m
\033[m    \033[0m


Estilos: 0 nenhum | 1 negrito | 3 itálico | 4 sublinhado
"""


print("\033[1;33;45m   TEXTO   \033[0m")


print("\033[30m CINZA")
print("\033[31m VERMELHO")
print("\033[32m VERDE")
print("\033[33m AMARELO")
print("\033[34m CIAN")
print("\033[35m MAGENTA")
print("\033[36m AZUL")
print("\033[37m BRANCO")


print("\033[40m CINZA")
print("\033[41m VERMELHO")
print("\033[42m VERDE")
print("\033[43m AMARELO")
print("\033[44m CIAN")
print("\033[45m MAGENTA")
print("\033[46m AZUL")
print("\033[47m BRANCO")


print("\033[1;2;3;4;33;45m   TEXTO   \033[0m")

   TEXTO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
 CINZA
 VERMELHO
 VERDE
 AMARELO
 CIAN
 MAGENTA
 AZUL
 BRANCO
   TEXTO

In [21]:
# exemplo

print("\033[32mSucesso!\033[0m")
print("\033[1;4;32mSucesso!\033[0m")
print("\033[45mOK!")
print("\033[34;45mOK!")

Sucesso!
Sucesso!
OK!
OK!

In [22]:
# TRABALHAR COM EMOJIS (Win+.)


print('👨')
print('👽')
print('⚾')

👨
👽
⚾

In [26]:
# COLUNAS COM PREENCHIMENTO E ALINHAMENTO


print(" CENTRALIZADO ".center(30, '-'))
print(" DIREITA".rjust(30,'-'))
print("ESQUERDA ".ljust(30, '-'))

-------- CENTRALIZADO --------
---------------------- DIREITA
ESQUERDA ---------------------

In [27]:
# ALINHAMENTO PARA F STRINGS


print(f"| {'Unidade':>20} | {'5':^20} |")
print(f"| {'Unidade':^20} | {'5':^20} |")
print(f"| {'Unidade':<20} | {'5':^20} |")

|              Unidade |          5           |
|       Unidade        |          5           |
| Unidade              |          5           |

In [28]:
# MULTIPLICAÇÃO DE STRINGS


sus = '#'
estrela = '*'


print(sus*2, estrela*10, sus*2)
print('='*16)

## ********** ##
================

In [30]:
# CONCATENAÇÃO (soma, junta textos)
texto1 = 'SENAI'
texto2 = 'ARY'
texto3 = 'TORRES'
escola = texto1+' '+texto2+' '+texto3+' Giulia'


print('\n\n', escola)

 SENAI ARY TORRES Giulia

# Desafios

In [34]:
# DESAFIO 01
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""
num = int(input("Digite um número inteiro: "))

print("Seu número escolhido é:",num, "e seu quadrado é:", num*num)

Digite um número inteiro: 7
Seu número escolhido é: 7 e seu quadrado é: 49

In [37]:
# DESAFIO 01 (versão com format)
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""
num = int(input("Digite um número inteiro: "))

print("Seu número escolhido é {} e seu quadrado é {}!".format(num, num*num))

Digite um número inteiro: 10
O quadrado de 10 é 100!

In [38]:
# DESAFIO 01 (versão com %)
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""
num = int(input("Digite um número inteiro: "))

print("O seu número escolhido é %d e seu quadrado é %f!" %(num, num*num))

Digite um número inteiro: 10
O seu número escolhido é 10 e seu quadrado é 100.000000!

In [40]:
# DESAFIO 01 (versão com f)
"""
Crie um programa para efetuar a leitura de um número inteiro e
apresentar o resultado do quadrado desse número
"""
num = int(input("Digite um número inteiro: "))

print(f"O seu número escolhido é {num} e seu quadrado é {num*num}!")

Digite um número inteiro: 10
O seu número escolhido é 10 e seu quadrado é 100!

In [ ]:
# DESAFIO 02
"""
Escreva um programa que leia dois caracteres e imprima-os na tela da seguinte forma:
O usuário digitou (caractere1) e (caractere2)!.
"""

caractere1 = input("Digite um caractere: ")
caractere2 = input("Digite outro: ")

print(f"O usuário digitou {caractere1} e {caractere2}!")

In [41]:
# DESAFIO 03
"""
Crie um programa que leia um número inteiro e imprimir seu sucessor e seu antecessor
"""
num = int(input("Digite um número inteiro: "))

print(f"O número escolhido foi {num}, seu antecessor é {num - 1} e seu sucessor é {num + 1}.")

Digite um número inteiro: 7
O número escolhido foi 7, seu antecessor é 6 e seu sucessor é 8.

In [42]:
# DESAFIO 04
"""
Crie um programa para entrar com a base e a altura de um retângulo e imprimir
respectivamente o perímetro e a área correspondente.
"""

base = float(input("Digite o valor da base: "))
altura = float(input("Digite o valor da altura: "))

print(f"O perímetro desse retângulo vale {2*(base+altura)}, e a área vale {base*altura}!")

Digite o valor da base: 10
Digite o valor da altura10
O perímetro desse retângulo vale 40.0, e a área vale 100.0!

In [43]:
# DESAFIO 05
"""
Crie um programa que dados o valor, a taxa e o tempo, efetuar o cálculo do valor de
uma prestação em atraso.
FÓRMULA: valor da prestação + (valor da prestação * (taxa / 100) * tempo)
"""

valor = float(input("Digite o valor inicial da prestação: "))
taxa = float(input("Digite a taxa a ser colocada sobre a prestação: "))
tempo = float(input("Digite o tempo, em dias, em que a prestação está atrasada: "))
valor_final = valor + (valor * (taxa/100) * tempo)

print(f"O valor final da prestação é de R${valor_final}.")

Digite o valor inicial da prestação: 100
Digite a taxa a ser colocada sobre a prestação: 5.00
Digite o tempo, em dias, em que a prestação está atrasada: 10
O valor final da prestação é de R$150.0.