<a href="https://colab.research.google.com/github/giualciati/PythonSenai/blob/main/03_ManipulacaoStrings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# FATIAMENTO DE STRINGS


texto = "Curso de Python"


print(texto[6])          # 7º caracterer
print(texto[9:15])       # 10º ao 15º caracterer
print(texto[9:15:2])     # 10º ao 15º caracterer de 2 em 2
print(texto[:5])         # Até o 5º caracterer
print(texto[9:])         # 10º caracterer em diante
print(texto[::-1])       # Inverter o texto
print(texto[-1])         # Último caracter

d
Python
Pto
Curso
Python
nohtyP ed osruC
n

In [2]:
# ANÁLISE DE STRINGS


frase = "SENAI Ary Torres"


# tamanho da string
print(len(frase))


# contar caracteres
print(frase.count('n'))


# encontrar índice (retorna -1 se não encontrar)
print(frase.find('z'))


# encontrar índice (a partir da direita)
print(frase.rfind('s'))


# encontrar índice (gera erro se não encontrar)
print(frase.index('r'))


# verificar pertinência
print('Ary' in frase)

16
0
-1
15
7
True

In [3]:
# TRANSFORMAÇÃO DE STRINGS


# maiúscula
print(frase.upper())


# minúscula
print(frase.lower())


# primeira da frase em maiúscula
print(frase.capitalize())


# primeira letra de cada palavra em maiúscula
print(frase.title())

SENAI ARY TORRES
senai ary torres
Senai ary torres
Senai Ary Torres

In [ ]:

# TRANSFORMAÇÃO DE STRINGS 2


# substituir palavras
print(frase.replace('SENAI', 'ESCOLA'))
print(frase)
frase = frase.replace('SENAI', 'ESCOLA')
print(frase)


frase2 = "   oi    SENAI   Ary Torres oi  "


# retirada/limpeza
print(frase2.strip())
frase2 = frase2.strip() # limpar espaços antes e depois


print(frase2.strip('oi'))


url = 'https://google.com/h'
print(url.rstrip('h'))


print(url.lstrip('https://'))

In [6]:
# JUNÇÃO E DIVISÃO DE STRINGS


texto = "SENAI Ary Torres"


# juntar caracteres com delimitador
print('  '.join(texto))


# dividir palavras em lista
print(texto.split())
print(texto.split()[0])   # primeira palavra
print(texto.split()[-1])  # última palavra
print(texto.split()[1])


lista = texto.split()
print(', '.join(lista))

S  E  N  A  I     A  r  y     T  o  r  r  e  s
['SENAI', 'Ary', 'Torres']
SENAI
Torres
Ary
SENAI, Ary, Torres

In [12]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE


frase2 = "   oi    SENAI   Ary Torres oi  ".strip()
frase2 = frase2.strip('oi')
frase2 = frase2.split()
frase2 = ' '.join(frase2)
print(frase2)
print(type(frase2))

SENAI Ary Torres
<class 'str'>

In [ ]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE v2
frase2 = "   oi    SENAI   Ary Torres oi  "


frase2 = ' '.join("   oi    SENAI   Ary Torres oi  ".strip().strip('oi').split())
print(frase2)

In [ ]:
# EXEMPLO DE SANITIZAÇÃO DE FRASE v3
frase2 = "   oi    SENAI   Ary Torres oi  "


print(' '.join("   oi    SENAI   Ary Torres oi  ".strip().strip('oi').upper().split()))

In [ ]:
# EXEMPLO EXIBIR O DOMÍNIO DO E-MAIL


email = 'leandro@gmail.com'.split('@')
print(email)
email_1_parte = email[0]
print(email_1_parte)
print(email[-1])

In [10]:
# DESAFIO 01
"""
Crie um programa que leia o nome completo de uma pessoa e mostre:
    O nome com todas as letras maiúsculas
    O nome com todas as letras minúsculas
    Quantas letras tem o primeiro nome
    Quantas letras ao todo (sem considerar espaços)
"""

nome = input("Digite seu nome completo: ")

print(nome.upper())
print(nome.lower())
print(nome.split()[0])
print(f"O primeiro nome tem {len(nome.split()[0])} letras.")
print(f"O nome completo tem {len(nome.replace(' ', ''))} letras")

Digite seu nome completo: Giulia da Silva Alciati
GIULIA DA SILVA ALCIATI
giulia da silva alciati
Giulia
O primeiro nome tem 6 letras.
O nome completo tem 20 letras

In [ ]:
# TAMANHO NOME SEM ESPAÇOS


tamanho_nome = len(nome.replace(' ', ''))
tamanho_nome = len(nome)-nome.count(' ')
tamanho_nome = len(''.join(nome.split()))

In [15]:
# DESAFIO 02
"""
Faça um programa que leia um número de quatro dígitos entre 1000 a 9999 e mostre na tela
cada um dos dígitos separados.
Ex: Digite um numero: 1981


Unidade: 1
Dezena: 8
Centena: 9
Milhar: 1
"""

numero = input("Digite um número entre 1000 e 9999: ")

print(' '.join(numero))

Digite um número entre 1000 e 9999: 1000
1 0 0 0

In [ ]:
# DESAFIO 03
"""
Faça um programa que leia uma frase pelo teclado e mostre:


Quantas vezes aparece a letra "A"
Em que posição ela aparece a primeira vez
Em que posição ela aparece a última vez
"""
frase = input("Digite uma frase: ").lower().replace(' ', '')


print(f"\nA letra A aparece {frase.count('a')} vezes.")
print(f"A letra A aparece a 1ª vez na {frase.find('a')+1}ª posição.")
print(f"A letra A aparece a última vez na {frase.rfind('a')+1}ª posição.")

In [18]:
# DESAFIO 04
"""
Faça um programa que leia o nome completo de uma pessoa, mostrando em seguida o primeiro
e o último nome separadamente.


Exemplo: Leandro Gomes Andrade


Primeiro: Leandro
Último: Andrade
"""

nome = input("Digite seu nome completo: ")

print(f"O seu primeiro nome é {nome.split()[0]}")
print(f"O seu último nome é {nome.split()[-1]}")

Digite seu nome completo: Giulia da Silva Alciati
O seu primeiro nome é Giulia
O seu último nome é Alciati

In [ ]:
# DESAFIO 05
"""
Refazer o DESAFIO 03 escolhendo a letra para contar e desconsiderar espaços.
"""
frase = input("Digite uma frase: ").upper().replace(' ', '')
letra = input("Digite uma letra: ").upper()


print(f"\nA letra {letra} aparece {frase.count(letra)} vezes.")
print(f"A letra {letra} aparece a 1ª vez na {frase.find(letra)+1}ª posição.")
print(f"A letra {letra} aparece a última vez na {frase.rfind(letra)+1}ª posição.")