<a href="https://colab.research.google.com/github/giualciati/PythonSenai/blob/main/09Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Teoria

In [ ]:
# TUPLAS


linguagens = ('Assembly', 'JAVA', 'Python', 'C#')
print(linguagens)


linguagens2 = 'Assembly', 'JAVA', 'Python', 'C#'
print(linguagens2)
print(type(linguagens2))

In [ ]:
# ACESSOS PARA TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


print(lanches[0])   # Primeiro item
print(lanches[-1])  # Último item
print(lanches[1:3]) # Dois itens
print(lanches[1:])  # A partir do segundo
print(lanches[:2])  # Até o segundo
print(lanches[:])   # Todos

In [ ]:
# GERA ERRO (TUPLA É IMUTÁVEL)


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
lanches[0] = 'Hotdog'

In [ ]:
# PERCORRER UMA TUPLA


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for lanche in lanches:
    print(lanche)

In [ ]:
# PERCORRER UMA TUPLA POR ÍNDICE


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for i in range(len(lanches)):
    print(lanches[i])

In [16]:
# PERCORRER UMA TUPLA POR ÍNDICE E VALORES


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')


for posicao, lanche in enumerate(lanches):
    print(f"{posicao+1} | {lanche}")

1 | Hamburger
2 | Pastel
3 | Coxinha
4 | Pizza

In [ ]:
# CONVERTER LISTA EM TUPLA


lista = list()
lista = [1, 2, 3, 4, 5]


tupla = tuple(lista)
print(tupla)
print(type(tupla))

In [ ]:
# MÉTODO SORTED


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
print(lanches)
ordenar = tuple(sorted(lanches))
print(ordenar)
print(type(ordenar))

In [ ]:
# MÉTODO DEL


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
del(lanches)
print(lanches)

In [ ]:
# CONCATENAR TUPLAS


lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
doces = ('Pudim', 'Bolo', 'Sorvete')


unificada = lanches + doces


print(unificada)

In [ ]:
# EXEMPLOS PARA INSERÇÃO DE VALORES EM TUPLAS:


# Digitação pelo usuário
tupla = tuple(int(input(f"Digite o {i+1} nº: ")) for i in range(5))
print("\nDigitados pelo usuário:", tupla)


# Números aleatórios
import random
tupla = tuple(random.randint(1, 50) for i in range(5))
print("\nNúmeros aleatórios:", tupla)


# Contagem
tupla = tuple(i for i in range(1, 11))
print("\nContagem:", tupla)


# Valores condicionais
numeros = (4, 8, 7, 10, -50)
pares = tuple(num if num%2==0 else '' for num in numeros)
print("\nPares condicionais:", pares)


# Imprimir diretamente uma Tupla
print("\nNúmeros pares de 0 a 10:", tuple(i for i in range(0, 11, 2)))

# Desafios

In [6]:
# DESAFIO 01
"""
Crie um programa que tenha uma tupla totalmente preenchida com
uma contagem por extenso, de um até vinte.


Seu programa deverá ler um número pelo teclado (entre 1 e 20) e
mostrá-lo por extenso.
"""
numeros_extenso = (
    'Um',
    'Dois',
    'Três',
    'Quatro',
    'Cinco',
    'Seis',
    'Sete',
    'Oito',
    'Nove',
    'Dez',
    'Onze',
    'Doze',
    'Treze',
    'Quatorze',
    'Quinze',
    'Dezesseis',
    'Dezessete',
    'Dezoito',
    'Dezenove',
    'Vinte')

num = int(input("Digite um número inteiro entre 1 e 20: "))

if num >= 1 and num <= 20:
  print(f"O número {num} por extenso é {numeros_extenso[num-1]}")
else:
  print("Digite um número válido.")

Digite um número inteiro entre 1 e 20: 2
O número 2 por extenso é Três

In [11]:
# DESAFIO 02
"""
Crie um programa que gere cinco números aleatórios para uma tupla.
Exiba a listagem de números gerados, indique o menor e o maior valor.
"""
import random
tupla = tuple(random.randint(1, 50) for i in range(5))
print("\nNúmeros aleatórios:", tupla)

print(f"\nMaior valor encontrado foi {max(tupla)}")
print(f"Menor valor encontrado foi {min(tupla)}")

Números aleatórios: (40, 46, 28, 16, 24)

Maior valor encontrado foi 46
Menor valor encontrado foi 16

In [23]:
# DESAFIO 03
"""
Desenvolva um programa que leia quatro números inteiros pelo teclado e guarde-os em uma tupla. No final, mostre:
    A) Quantas vezes apareceu o valor 9.
    B) Em que posição foi digitado o primeiro valor 3.
    C) Quais foram os números pares.
"""

tupla = tuple(int(input(f"Digite o {i+1} nº: ")) for i in range(4))
print("\nDigitados pelo usuário:", tupla)

if 9 in tupla:
  print(f"O número 9 apareceu {tupla.count(9)} vezes")
if 3 in tupla:
   print(f"O número 3 apareceu primeiro na posição {tupla.index(3)+1}.")
else:
    print("O número 3 não foi digitado.")

pares = tuple(num if num%2==0 else '' for num in tupla)
print("\nPares:", pares)

Digite o 1 nº: 3
Digite o 2 nº: 9
Digite o 3 nº: 4
Digite o 4 nº: 6

Digitados pelo usuário: (3, 9, 4, 6)
O número 9 apareceu 1 vezes
O número 3 apareceu primeiro na posição 1.

Pares: ('', '', 4, 6)

In [25]:
# DESAFIO 04
"""
Crie um programa que tenha uma tupla única com 4 produtos e seus respectivos preços em sequência.
Exiba uma listagem com os nomes e preços, organizando os dados em forma tabular.
"""
lanches = ('Hamburger', 'Pastel', 'Coxinha', 'Pizza')
preco = (10.00, 8.00, 6.50, 30.00)


for posicao, (lanche, preco_produto) in enumerate(zip(lanches, preco), 1):
    print(f"{posicao:<5} {lanche:<10} R${preco_produto:.2f}")

1     Hamburger  R$10.00
2     Pastel     R$8.00
3     Coxinha    R$6.50
4     Pizza      R$30.00